template.pagevaror = `
<div class="container">
	<!--inside a container you can have one to many rows-->

	<div class="row auto-clear">
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="image-holder"><img src="http://roligpryl.se/images/roligpryl-bg.jpg" alt="usb som ser ut som en tårta"></div>
				<div class="caption vara">
					<h3>Munkminne</h3>
					<p>Lorem ipsum dolor sit amet, qui ei quando legimus torquatos, sit diam ceteros invidunt ei, vis alienum indoctum an.</p>
					<p>28 kr</p>
					<p><a data-toggle="modal" data-target="#kundvagn" class="btn btn-primary buy-button" role="button" data-price="28">Lägg i varukorg</a> <a href="#varor" class="btn btn-default" role="button">Läs mer</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="image-holder"><img src="http://www.roligaprylar.com/images/2011/constructive-eating2_138193530.jpg" alt="grävskopsskedar"></div>
				<div class="caption vara">
					<h3>Ärtbil</h3>
					<p>Pro quod zril doctus no, magna utamur principes ius no. Et error solet indoctum pro.</p>
					<p>39 kr</p>
					<p><a data-toggle="modal" data-target="#kundvagn" class="btn btn-primary buy-button" role="button" data-price="39">Lägg i varukorg</a> <a href="#varor" class="btn btn-default" role="button">Läs mer</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="image-holder"><img src="http://www.chokladbloggen.se/images/2009/chokladmus_52961110.png" alt="chokladkaka som är en datormus"></div>
				<div class="caption vara">
					<h3>Chokladmus</h3>
					<p>Ex cum mediocrem consulatu eloquentiam. Mei alienum hendrerit reformidans ne.</p>
					<p>22 kr</p>
					<p><a data-toggle="modal" data-target="#kundvagn" class="btn btn-primary buy-button" role="button" data-price="22">Lägg i varukorg</a> <a href="#varor" class="btn btn-default" role="button">Läs mer</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
`

