template.startpage = `
<div class="container">
	<!--inside a container you can have one to many rows-->
	<div class="row">
		<!--inside a row you can have several divs that can have different column width-->
		<div class="col-xs-12  col-sm-6 col-md-8">
			<div class="jumbotron">
				<h1>Välkommen!</h1>
				<p>Välkommen till Matprylars webbshop. Kolla in våra spännande nyheter. Gratis frakt första veckan!</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>

<!--Höger av sidan, nyheter -->
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Nyheter</div>
				<div class="panel-body">
					<p>Kolla här!</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>

		</div>
	</div>
    `